{% extends 'base_layout.html' %} {% block content %}
<div class="container-fluid p-4 d-flex  justify-center flex-column">
  <div class="d-flex flex-column align-items-center">
    <h1 class="h2 mb-4">Admin Login</h1>
    <form method="POST" style="max-width: 600px" class="form">
      {%csrf_token %} {{ form }} {% if request.GET.next %}
      <input type="hidden" value="{{ request.GET.next }}" />
      {% endif %}
      <button class="btn btn-success mt-3" type="submit">Login</button>
    </form>
  </div>

  <script>
    // TO STYLE DJANGO AUTH FORM
    document.getElementById("id_username").placeholder = "username"
    document.getElementById("id_password").placeholder = "password"
    document.getElementsByTagName("label")[0].style.display = "none";
    document.getElementsByTagName("label")[1].style.display = "none";
  </script>
</div>
{% endblock %}
