{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
{% if messages %}
<div class="container-fluid p-4">
  <div class="messages">
      {% for message in messages %}
      <div {% if message.tags %} 
        class="{{ message.tags }} alert
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-success {% endif %}"
        {% endif %} 
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
  </div>
  {% endif %}
  <h1 class="h2 mb-4">Register Candidate</h1>
  <form method="POST" enctype="multipart/form-data" style="max-width: 600px">
    {%csrf_token %} 
    {% for field in form %}
      <!-- <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label> -->
      {{ field }} 
    {% endfor %} 

    {% comment %} <label class="form-label" for="symbol-select">Vote Symbol</label>
    <input class="form-control" type="file" name="symbol-select" id="symbol-select" /> {% endcomment %} 

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% endif %}
    <button type="submit" id="submit" class="btn btn-primary mt-3">Register</button>

    {{ form.errors }} {{ form.non_field_errors }}
  </form>

  {% comment %} <img src="{% static 'symbols/kk.jpg' %}" alt="" /> {% endcomment %}

  <script>
  </script>
</div>
{% endblock %}
