{% extends 'base_layout.html' %}
{% load static %}
{% block content %}
<div class="container-fluid p-4">
  <h1 class="h2 mb-4">Register Candidate</h1>
  <form method="POST" enctype="multipart/form-data" style="max-width: 600px">
    {%csrf_token %} 
    {% for field in form %}
      <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }} 
    {% endfor %} 

    {% comment %} <label class="form-label" for="symbol-select">Vote Symbol</label>
    <input class="form-control" type="file" name="symbol-select" id="symbol-select" /> {% endcomment %} 

    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{ request.GET.next }}" />
    {% endif %}
    <button type="submit" id="submit" class="btn btn-primary mt-3">Register</button>

    {{ form.errors }} {{ form.non_field_errors }}
  </form>

  {% comment %} <img src="{% static 'symbols/kk.jpg' %}" alt="" /> {% endcomment %}

  <script>
    // MEHH FUCK IT LETS USE URL TO SERVER'S STORAGE
    /* const symbolB64 = document.getElementById("symbol-b64");
    const toBase64 = (file) =>
      new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
      }); */

    /* document.getElementById("symbol-select").addEventListener("change", async (e) => {
      const file = document.getElementById("symbol-select").files[0];
      // ! NOPE
      // symbolB64.value = await toBase64(file);
      symbolB64.value = "yeet"
    }); */
  </script>
</div>
{% endblock %}
