{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-vo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <section class="navigation">
        <div class="nav-container">
          <div class="logo">
            <a href="/"><img src="{% static 'logo.png' %}" class="img-responsive" alt=""></a>
          </div>
          <nav>
            <ul class="nav-list">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/vote">Vote</a>
              </li>
              <li>
                <a href="/candidates">Candidate Registration</a>
              </li>
              <li>
                <a href="/voters/register">Voter Registration</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
            </ul>
          </nav>
        </div>
      </section>
      <div class="content">
          {% block content%}
          {% endblock %}
      </div>
</body>
</html>