{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-vo</title>
    <link rel="stylesheet" href="{% static 'style.css' %}?{% now "U" %}">
</head>
<body>
    <section class="navigation">
        <div class="nav-container">
          <div class="logo">
            <a href="/"><img src="{% static 'logo.png' %}" class="img-responsive" alt=""></a>
          </div>
          <nav>
            <ul class="nav-list">
              {% if user.is_authenticated %}
              <li>
                <a href="{% url 'candidates:admin_home' %}">Home</a>
              </li>
              {% else %}
              <li>
                <a href="{% url 'home' %}">Home</a>
              </li>
              {% endif %}
              <li>
                <a href="{% url 'voters:vote' %}">Vote</a>
              </li>
              <!-- <li>
                <a href="{% url 'candidates:register' %}">Candidate Registration</a>
              </li> -->
              <li>
                <a href="{% url 'voters:register' %}">Voter Registration</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              {% if user.is_authenticated %}
              <li>
                <form action="{% url 'candidates:admin_logout' %}" method="post">
                  {% csrf_token %}
                  <button class="logout-btn" type="submit">Logout</button>
                </form>
              </li>
              {% else %}
              <li>
                <a href="{% url 'candidates:admin_home' %}">Admin Panel</a>
              </li>
              {% endif %}
            </ul>
          </nav>
        </div>
      </section>
      <div class="content">
          {% block content%}
          {% endblock %}
      </div>
</body>
</html>