{% extends 'base_layout.html' %}
 
{% block content %}

 <div class="table-responsive">
  <table class="table table-bordered">
   <thead>
    <tr>
     <th>Candidate</th>
     <th>Votes</th>
    </tr>
   </thead>
   <tbody>
       {% for candidate in candidatelist %}
       <tr>
        <td>{{candidate}}</td>
       </tr>
       {% endfor %}
    <tr>
     <td>Candidate1</td>
     <td id="candidate-1"></td>
    </tr>
    <tr>
     <td>Candidate2</td>
     <td id="candidate-2"></td>
    </tr>
    <tr>
     <td>Candidate3</td>
     <td id="candidate-3"></td>
    </tr>
   </tbody>
  </table>
 </div>
 <input type="text" id="candidate" />
 <a href="#" onclick="vote()" class="btn btn-primary">Vote</a>

 {% endblock %}