{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap-5.0.1/css/bootstrap.min.css' %}?{% now "U" %}" /> 
    <title>camera</title>
</head>
<body>
    <div id="videoContainer" class="d-flex align-items-center justify-content-center">
        <img " src="{% url 'video_stream' %}" >
    </div>
    
      
</body>
</html>